.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.dot {
  background-color: green;   
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;   
  border: 5px solid white;
  box-sizing: border-box;
}



.piece {
  background-color: red;
  border-radius: 100px;
}


div.dice {
  float:left;
  width: 32px;
  background: #F5F5F5;
  border: #999 1px solid;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
